body {
  background: #282c34;
}

.Card{
  color: #282c34;
  background: white;
}

.reading{
  font-size: 50px;
}

.kanji{
  font-size: 150px;
}

.meaning{
  font-size: 40px;
}

.App {
  text-align: center;
  color: white;
}
